.streak-text {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}


.header-container {
    display: flex;
    align-items: center;
    align-content: space-around;
    padding: 10px 20px;
    cursor: pointer;
  
}

.owl-mascot {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-svg {
  width: 100% !important;
  height: 100% !important;
  max-width: 100%;
  max-height: 100%;
}