.flashcard-container {
    margin: 20px auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
}

.expression {
    font-size: 40px;
    font-weight: bold;
    color: #333;
}

.translation {
    font-size: 18px;
    color: #666;
    margin-top: 10px;
}

.badge-caterory {
    background-color: rgb(212, 93, 177);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
   text-align: center;
}

p {
    font-size: 14px;
    color: rgb(108, 117, 125);
}