<div class="collection-container">
  <div class="collection-content">
    <div class="icon-container">
      <lucide-icon
        color="#3bbfad
"
        name="graduation-cap"
      ></lucide-icon>
    </div>
    <h2>Your collection</h2>
    <p *ngIf="stats">{{ stats.total }} expressions to review</p>
    <div class="collection-cards" *ngIf="stats">
      <div class="new">
        New <span>{{ stats.new }}</span>
      </div>
      <div class="leaning">
        Learning <span>{{ stats.learning }}</span>
      </div>
      <div class="mastered">
        Mastered <span>{{ stats.mastered }}</span>
      </div>
    </div>
    <button (click)="onFlashcards()" class="collection-button">Start review</button>
  </div>
</div>
