.collection-container {
    margin: 20px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
}

collection-content {
  text-justify: center;
}

p {
  color: #6c757d; 
  opacity: 0.7; 
}

.new, .leaning, .mastered {

    padding: 8px;
  
    border-radius: 8px;
    text-align: center;
}

.new {
    background-color: #ffcccb;
}

.leaning {
    background-color: #f0e68c;
}
.mastered {
    background-color: #90ee90;
}

.collection-cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.collection-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3bbfad;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}