/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Nunito", sans-serif;
    color: #1a2e35ff;
}

body {
    background-color: #b2e6e2;
    margin: 0;
    padding: 0;

}   

